<ul class='selections'>
  {{#each destination key="@index" as |selection|}}
    <li class="selection">
      <a class="as-close" {{action "removeSelection" selection}}>x</a>
      {{#if hasBlock}}
        {{yield selection}}
      {{else}}
        {{display-helper selection searchPath}}
      {{/if}}
    </li>
  {{/each}}
  <li>
    <section class='as-container'>
      {{#unless multiple}}
        {{#if selection}}
        <span class="as-selected">
          {{#if hasBlock}}
            {{yield selection}}
          {{else}}
            {{display-helper selection searchPath}}
          {{/if}}
          <a class="as-close" {{action "removeSelection" selection}}>x</a>
        </span>
        {{/if}}
      {{/unless}}
      {{input focus-out="removeFocus" class="as-input" placeholder=placeHolder }}
    </section>
  </li>
</ul>
<div class="results {{unless hasQuery 'hdn'}}">
  <ul class='suggestions'>
    {{#each displayResults key="@index" as |result|}}
      <li {{action "addSelection" result}} class="result {{if result.active 'active'}}">
        <span class="result-name">
          {{#if hasBlock}}
            {{yield result}}
          {{else}}
            {{display-helper result searchPath}}
          {{/if}}
        </span>
      </li>
    {{else}}
      <li class='no-results'>No Results.</li>
    {{/each}}
  </ul>
</div>
